body {
  height: 100hv;
  width: 100%;
  background: linear-gradient(
    to bottom, 
    white 0%,
    white 50%,
    rgba(34, 132, 0, 0.62) 40%,
    rgba(34, 132, 0, 0.62) 40%
  );
  /* Rectangle 1 */



}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header{
  height: 100vh;
  width: 90%;
  padding: 0 8%;
  top: 0; 
  left: 0;
  
  position: sticky;
}

.logo{
  width: 150px;
}

.nav-links{
  padding: 28px 0;
}

.nav-links li{
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a{
  
  text-decoration: none;
  font-family: 'Inter';
  font-style: italic;
  font-size: 33px;
  color: black;
  padding: 5px 0; 
  font-weight: 800;
  line-height: 48px;
}